*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.box-carousel{
  width: 70%;
  height: 50%;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 5px 5px 50px #000;
}
.content-text{
  width: 78%;
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: end;
  color: #fff;
}
.content-text p{
  font-size: 12px;
}
.box-principal-img{
  width: 80%;
  height: 100%;
  position: relative;
}
.box-principal-img img,
.aside-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-aside-img{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.aside-img{
  width: 100%;
  height: 20%;
}
.box-principal-img img,
#title h2,
#text-title p{
  display: none;
}
.box-principal-img img.current,
#title .current,
#text-title .current{
  display: block;
}
.arrow{
  width: 35px;
  height: 35px;
  background-color: rgba(151, 151, 151, 0.527);
  border-radius: 50%;
  position: absolute;
  right: 6%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 35px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
}
.arrow:hover{
  background-color: rgba(92, 92, 92, 0.527);
}
.top{
  top: 10px;
}
.down{
  bottom: 10px;
}
.active{
  border: 3px solid lightgray;
}